@import '../../../style/color.scss';
@import '../../../style/fonts.scss';

.step-4 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 3rem;

    .container {
        height: 72.5%;
        color: $Cool-gray;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        gap: 1.3rem;

        h2 {
            color: $Marine-blue;
            margin: 0;
            padding: 0;
        }

        p {
            margin: 0.5rem 0 1.5rem 0;
        }

        .step-items {
            width: 100%;
            height: 40%;
            display: flex;
            flex-direction: column;
            background-color: $Magnolia;
            border-radius: 0.5rem;

            .plan {
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: space-around;
                gap: 9.5rem;
                align-items: center;
                color: $Marine-blue;

                h3 {
                    font-family: 'Ubuntu-Medium';
                    font-weight: lighter;
                    font-size: 100%;
                    margin: 0 0 0.5rem 0;
                }

                p {
                    font-weight: bold;
                    font-family: 'Ubuntu-Medium';
                }

                .links {
                    color: $Cool-gray;
                    font-size: 90%;
                }
            }

            .line {
                margin-left: 1.3rem;
                width: 90%;
                border-top: 1px solid $Light-gray;
            }

            .add-ons {
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;

                .add-ons-item {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    gap: 12.5rem;

                    h3 {
                        font-family: 'Ubuntu-Medium';
                        font-weight: lighter;
                        font-size: small;
                        margin: 0;
                        padding: 0;
                    }

                    p {
                        font-family: 'Ubuntu-Medium';
                        font-size: small;
                        padding-right: 0.7rem;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }

        .bill {
            margin: 1rem 0;
            display: flex;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 8rem;

            h3 {
                color: $Purplish-blue;
            }
        }
    }

    .form-link {
        margin-top: 3rem;
        font-size: small;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .preview-Link {
            text-decoration: none;
            color: $Cool-gray;
            font-family: 'Ubuntu-Bold';
            font-weight: lighter;
        }

        .next-Link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25%;
            text-decoration: none;

            button {
                width: 100%;
                height: 3rem;
                background-color: $Marine-blue;
                border-radius: 0.6rem;
                border: none;
                color: $White;
                transition: background-color 200ms linear;
                cursor: pointer;

                &:hover {
                    background-color: $Purplish-blue;
                }
            }

        }

    }

}