@import '../../../style/color.scss';
@import '../../../style/fonts.scss';

.step-4 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 3rem;

    .container {
        height: 72.5%;
        color: $Cool-gray;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        gap: 1.3rem;

        h2 {
            color: $Marine-blue;
            margin: 0;
            padding: 0;
        }

        p {
            margin: 0.5rem 0 1.5rem 0;
        }

        .step-items {
            width: 100%;
            height: 40%;
            display: flex;
            flex-direction: column;
            background-color: $Magnolia;
            border-radius: 0.5rem;

            .plan {
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 2rem;
                color: $Marine-blue;
                padding-left: 0.1rem;

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 50%;
                    margin: 0 0 0 0;
                    padding: 0 0 0 0;
                }

                h3 {
                    font-family: 'Ubuntu-Medium';
                    font-weight: lighter;
                    font-size: 100%;
                    margin: 0 0 0.5rem 0;
                }

                p {
                    display: flex;
                    justify-content: flex-end;
                    margin: 0 0 0 0;
                    padding: 0 0 0 0;
                    font-weight: bold;
                    font-family: 'Ubuntu-Medium';
                }

                .links {
                    color: $Cool-gray;
                    font-size: 90%;
                }
            }

            .line {
                margin-left: 1.3rem;
                width: 90%;
                border-top: 1px solid $Light-gray;
            }

            .add-ons {
                width: 87%;
                height: 20%;
                display: flex;
                margin-left: 1.8rem;


                .add-ons-item {
                    width: 100%;
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-around;

                    .title-plan {
                        display: flex;
                        justify-content: flex-start;
                        width: 75%;

                        h3 {
                            font-family: 'Ubuntu-Medium';
                            font-weight: lighter;
                            font-size: small;
                            margin: 0;
                            padding: 0;

                        }
                    }

                    .price {
                        color: $Marine-blue;
                        display: flex;
                        justify-content: flex-end;
                        width: 30%;

                        p {
                            font-family: 'Ubuntu-Medium';
                            font-size: small;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }

        .bill {
            padding: 1rem 0;
            display: flex;
            width: 100%;
            display: flex;
            align-items: center;

            p {
                display: flex;
                justify-content: flex-start;
                width: 50%;
                padding: 0;
                margin: 0 0 0 1.5rem;
            }

            h3 {
                display: flex;
                justify-content: flex-end;
                width: 30%;
                color: $Purplish-blue;
                padding: 0;
                margin: 0 0 0 4.3rem;
            }
        }
    }
}

@media (max-width: 416px) {
    .step-4 {
        background-color: $White;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        padding: 1.5rem 0;
        align-items: center;
        justify-content: center;

        .container {
            width: 85%;
            padding: 0;
            margin: 0;


            .step-items {
                height: auto;
                padding: 0.5rem 0 0.5rem 0;

                .line {
                    width: 90%;
                    padding: 0;
                    margin: 1rem 0 0.5rem 15px;
                }

                .add-ons {
                    width: 90%;
                    height: 20%;
                    display: flex;
                    margin-top: 0.5rem;
                    margin-left: 0.8rem;
                }

            }

            .bill {
                p {
                    margin: 0;
                }
            }
        }
    }
}