@import'../../../style/color.scss';
@import '../../../style/fonts.scss';

.step-3 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .container {
        height: 75%;
        color: $Cool-gray;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2.5rem;
        width: 100%;

        h2 {
            color: $Marine-blue;
        }

        .form-elements {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .form-item {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                // border: 1px solid $Light-gray;
                border: solid 1px hsl(229, 24%, 87%);
                border-radius: 0.5rem;
                padding: 0.5rem;

                &:hover {
                    background-color: $Alabaster;
                }

                .tag {
                    width: 70%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 1.5rem;
                    padding-left: 0.5rem;
                    font-size: small;

                    .check {
                        width: 1rem;
                        height: 1rem;
                        border: 1px solid $Cool-gray;
                        border-radius: 0.15rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                    }



                    label {

                        h3 {
                            color: $Marine-blue;
                            font-family: 'Ubuntu-Medium';
                            font-weight: lighter;
                            padding: 0 0 3px 0;
                            margin: 0;
                        }

                        p {
                            color: $Cool-gray;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }

                p {
                    padding: 0 1rem;
                    color: $Purplish-blue;
                }
            }

            .form-item-border {
                border: 1px solid $Marine-blue;
            }
        }

    }

    .form-link {
        margin-top: 3rem;
        font-size: small;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .preview-Link {
            text-decoration: none;
            color: $Cool-gray;
            font-family: 'Ubuntu-Bold';
            font-weight: lighter;
        }

        .next-Link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25%;
            text-decoration: none;

            button {
                width: 100%;
                height: 3rem;
                background-color: $Marine-blue;
                border-radius: 0.6rem;
                border: none;
                color: $White;
                transition: background-color 200ms linear;
                cursor: pointer;

                &:hover {
                    background-color: $Purplish-blue;
                }
            }

        }
    }


}