@import '../../../style/color.scss';

.complet {
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        color: $Marine-blue;
    }

    p {
        color: $Cool-gray;
        width: 75%;

        a {
            color: $Cool-gray;
            text-decoration: none;
        }

    }
}

@media (max-width: 416px) {
    .complet {
        background-color: $White;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        padding: 1.5rem 0;
        align-items: center;
        justify-content: center;
    }
}