@import '../../../style/color.scss';
@import '../../../style/fonts.scss';

.step-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .container {
        height: 75%;
        color: $Cool-gray;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2.8rem;
        width: 100%;

        h2 {
            color: $Marine-blue;
        }

        .step-items {
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: space-between;

            .choice {
                padding-top: 1rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                border-radius: 0.5rem;
                border: 1px solid $Light-gray;
                width: 30%;
                height: 100%;

                &:hover {
                    background-color: $Alabaster;
                }

                img {
                    padding-left: 1rem;
                    width: 35%;
                }

                div {
                    padding-left: 1rem;
                    font-size: small;

                    h3 {
                        font-family: 'Ubuntu-Medium';
                        font-weight: lighter;
                        color: $Marine-blue;
                        padding: 0;
                        margin: 0;
                    }

                    p {
                        padding: 0;
                        margin: 0;
                    }

                    .month-bonus {
                        color: $Purplish-blue;
                        // display: none;
                    }

                    .month-bonus-show {
                        display: block;
                    }
                }
            }

            .choice-border {
                border: 1px solid $Marine-blue;
            }

        }

        .bill {
            align-items: center;
            justify-content: center;
            width: 100%;
            display: flex;
            border-radius: 0.5rem;
            background-color: $Alabaster;
            font-size: small;

            p {
                cursor: pointer;
            }

            .switch-container {
                padding: 0 2px;
                width: 1.8rem;
                height: 41%;
                border-radius: 1.5rem;
                background-color: $Marine-blue;
                margin: 0 1rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                cursor: pointer;

                .switch {
                    border-radius: 100%;
                    width: 0.8rem;
                    height: 0.8rem;
                    background-color: $White;
                    transition: all 200ms linear;
                }
            }
        }
    }
}

@media (max-width: 416px) {
    .step-2 {
        background-color: $White;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        padding: 0.2rem 0 1.5rem 0;
        align-items: center;
        justify-content: center;

        .container {
            width: 85%;
            padding: 0;
            margin: 0;
            line-height: 1rem;
            gap: 2rem;

            .step-items {
                width: 100%;
                gap: 10px;
                flex-direction: column;

                .choice {
                    flex-direction: row;
                    align-items: center;
                    width: 100%;
                    height: auto;
                    gap: 1rem;
                    padding: 0.5rem 0;
                    margin: 0;

                    img {
                        width: 15%;
                    }

                    div {

                        h3 {
                            font-weight: bold;
                            font-size: small;
                        }

                        p {
                            font-size: small;
                        }
                    }
                }
            }

            .bill {
                .switch-container {
                    height: 1.2rem;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
            }
        }
    }

}