@import './color.scss';
@import './fonts.scss';

.side-bar {
    width: 15%;
    height: 100%;
    list-style: none;
    background: url('../assets/images/bg-sidebar-desktop.svg') no-repeat;
    background-size: contain;
    padding: 2rem;
    position: absolute;
    left: 18.5rem;
    top: 3.4rem;

    .step {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 75%;

        .step-p-1,
        .step-p-2,
        .step-p-3,
        .step-p-4 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2rem;
            height: 2rem;
            color: white;
            border-radius: 100%;
            border: 1px solid white;
        }

        .step-color {
            transition: all 200ms linear;
            background-color: $Light-blue;
            color: $Marine-blue;
            border: 1px solid $Light-blue;
        }

        div {
            h3 {
                font-size: small;
                font-weight: 300;
                font-family: 'Ubuntu-Regular';
                color: $Light-gray;
                padding: 0;
                margin: 0;
            }

            p {
                color: $White;
                font-family: 'Ubuntu-Medium';
                padding: 0;
                margin: 0;
            }
        }
    }
}

@media (max-width: 375px) {
    .side-bar {
        display: flex;
        left: 3.5rem;
        top: -0.5rem;
        height: 4%;
        width: 60%;
        background: none;

        .step {
            div {
                display: none;
            }
        }
    }
}