@import '../src/style/fonts.scss';
@import '../src/style/color.scss';

:root {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: $Light-blue;
  font-family: 'Ubuntu-Regular', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

* {
  font-family: 'Ubuntu-Regular', sans-serif;
}

@media (max-width: 375px) {
  :root {
    overflow: hidden;
    height: 100svh;
  }

  body {
    background: url('./assets/images/bg-sidebar-mobile.svg') no-repeat;
    background-size: 105%;
    background-color: $Light-blue;
    overflow: hidden;
    height: 100%;

  }
}